{:highlights [{:id #uuid "651186b8-a820-4096-a2cf-5a33a0ebddcb",
               :page 17,
               :position {:bounding {:x1 0,
                                     :y1 28.5,
                                     :x2 700,
                                     :y2 1821.75,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 0,
                                   :y1 28.5,
                                   :x2 0,
                                   :y2 51.5,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 0,
                                   :y1 44.5,
                                   :x2 0,
                                   :y2 67.5,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 0,
                                   :y1 60.5,
                                   :x2 0,
                                   :y2 83.5,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 0,
                                   :y1 76.5,
                                   :x2 0,
                                   :y2 99.5,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 0,
                                   :y1 96,
                                   :x2 700,
                                   :y2 96,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 82.3125,
                                   :y1 125.3671875,
                                   :x2 625.4935302734375,
                                   :y2 139.3671875,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 82.3125,
                                   :y1 140.859375,
                                   :x2 641.197265625,
                                   :y2 154.859375,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 82.3125,
                                   :y1 156.34375,
                                   :x2 634.064697265625,
                                   :y2 170.34375,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 82.3125,
                                   :y1 171.8359375,
                                   :x2 520.0341186523438,
                                   :y2 185.8359375,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 343,
                                   :y1 812.65625,
                                   :x2 357.6265869140625,
                                   :y2 826.65625,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 0,
                                   :y1 905.875,
                                   :x2 700,
                                   :y2 905.875,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 0,
                                   :y1 915.875,
                                   :x2 700,
                                   :y2 1821.75,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 17},
               :content {:text "Don’t misunderstand this cavalier attitude toward constants. Programmers and algorithm developers are very interested in constants and would gladly stay up nights in order to make an algorithm run faster by a factor of 2. But understanding algorithms at the level of this book would be impossible without the simplicity afforded by big-O notation.17"},
               :properties {:color "red"}}],
 :extra {:page 48}}
