{:highlights [{:id #uuid "651bc718-eab1-425d-86cc-1296a3beff18",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 436.625,
                                     :x2 396.39874267578125,
                                     :y2 929.5,
                                     :width 819.9999999999999,
                                     :height 1061.1764705882351},
                          :rects ({:x1 71.421875,
                                   :y1 436.625,
                                   :x2 396.37103271484375,
                                   :y2 451.625,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 452.6484375,
                                   :x2 394.0576477050781,
                                   :y2 467.6484375,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 468.671875,
                                   :x2 393.8636779785156,
                                   :y2 483.671875,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 484.6953125,
                                   :x2 396.3240661621094,
                                   :y2 499.6953125,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 500.609375,
                                   :x2 396.39874267578125,
                                   :y2 515.609375,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 516.7421875,
                                   :x2 393.58050537109375,
                                   :y2 531.7421875,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 532.765625,
                                   :x2 394.3212890625,
                                   :y2 547.765625,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 548.6796875,
                                   :x2 394.1131286621094,
                                   :y2 563.6796875,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 564.703125,
                                   :x2 394.0531921386719,
                                   :y2 579.703125,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 580.8359375,
                                   :x2 394.0787658691406,
                                   :y2 595.8359375,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 71.828125,
                                   :y1 596.7578125,
                                   :x2 394.02410888671875,
                                   :y2 611.7578125,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 612.78125,
                                   :x2 393.8138732910156,
                                   :y2 627.78125,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 628.8046875,
                                   :x2 395.9466552734375,
                                   :y2 643.8046875,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 644.828125,
                                   :x2 394.0334167480469,
                                   :y2 659.828125,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 72.3203125,
                                   :y1 660.8515625,
                                   :x2 100.1993637084961,
                                   :y2 675.8515625,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 721.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 737.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 734,
                                   :x2 0,
                                   :y2 753.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 750,
                                   :x2 0,
                                   :y2 769.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 766,
                                   :x2 0,
                                   :y2 785.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 782,
                                   :x2 0,
                                   :y2 801.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 798,
                                   :x2 0,
                                   :y2 817.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 814,
                                   :x2 0,
                                   :y2 833.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 830,
                                   :x2 0,
                                   :y2 849.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 846,
                                   :x2 0,
                                   :y2 865.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 862,
                                   :x2 0,
                                   :y2 881.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 878,
                                   :x2 0,
                                   :y2 897.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 894,
                                   :x2 0,
                                   :y2 913.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}
                                  {:x1 0,
                                   :y1 910,
                                   :x2 0,
                                   :y2 929.5,
                                   :width 819.9999999999999,
                                   :height 1061.1764705882351}),
                          :page 2},
               :content {:text "1) Privilege Restriction: modern hardware virtualization extensions are only conﬁgurable in kernel mode, such as setting a VM’s stage-2 page table. This necessitates the presence of a hypervisor component in the host kernel to use these extensions. 2) Security Risk: simply moving all the management of VMs’ hardware resources to user mode violates the least privilege principle and enlarges the attack surface. For instance, if QEMU is allowed to modify a VM’s stage-2 page table, it can then access any physical memory pages, posing a signiﬁcant security risk. 3) Performance Overhead: most VM exits are now forwarded by the kernel to the user-mode functions to handle. Then, the control ﬂow must return to the kernel again to resume VMs’ execution, resulting in excessive runtime ring crossings and unacceptable performance costs"},
               :properties {:color "yellow"}}
              {:id #uuid "6521785d-055a-48a5-8ec0-0c69c0a11d08",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 507.171875,
                                     :x2 834.8043212890625,
                                     :y2 1393.5,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 489.09375,
                                   :y1 507.171875,
                                   :x2 834.8043212890625,
                                   :y2 523.671875,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 525.0078125,
                                   :x2 832.0478515625,
                                   :y2 541.5078125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 473.6640625,
                                   :y1 542.734375,
                                   :x2 834.76416015625,
                                   :y2 559.234375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 560.6953125,
                                   :x2 832.6963500976562,
                                   :y2 577.1953125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 578.53125,
                                   :x2 834.6884765625,
                                   :y2 595.03125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 596.2578125,
                                   :x2 834.5313720703125,
                                   :y2 612.7578125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 614.09375,
                                   :x2 832.2701416015625,
                                   :y2 630.59375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 632.0546875,
                                   :x2 832.78125,
                                   :y2 648.5546875,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 649.78125,
                                   :x2 580.7205810546875,
                                   :y2 666.28125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1262,
                                   :x2 0,
                                   :y2 1281.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1278,
                                   :x2 0,
                                   :y2 1297.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1294,
                                   :x2 0,
                                   :y2 1313.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1310,
                                   :x2 0,
                                   :y2 1329.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1326,
                                   :x2 0,
                                   :y2 1345.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1342,
                                   :x2 0,
                                   :y2 1361.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1358,
                                   :x2 0,
                                   :y2 1377.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1374,
                                   :x2 0,
                                   :y2 1393.5,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 7},
               :content {:text "With PMC, we can allow DuVisor to conﬁgure its stage2 page table optimistically. The MMU automatically checks whether the target HPAs of the VM’s memory accesses exceed the range limit of the pre-allocated physical memory regions. If so, the MMU triggers a fault to wake up the DVdriver. This design eliminates the stage-2 memory management module in the DV-driver. Furthermore, the overhead of dynamic checking is negligible since it is achieved by merely comparing offsets"},
               :properties {:color "green"}}
              {:id #uuid "65217879-0e56-4214-bec0-a99e96c7e5d6",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 811.0546875,
                                     :x2 834.6842651367188,
                                     :y2 1633.5,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 657.8137817382812,
                                   :y1 811.0546875,
                                   :x2 833.8238525390625,
                                   :y2 827.5546875,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 828.8984375,
                                   :x2 832.2440185546875,
                                   :y2 845.3984375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 846.6171875,
                                   :x2 834.6842651367188,
                                   :y2 863.1171875,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 864.578125,
                                   :x2 832.334716796875,
                                   :y2 881.078125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 882.421875,
                                   :x2 832.21875,
                                   :y2 898.921875,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 900.140625,
                                   :x2 832.22412109375,
                                   :y2 916.640625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 474.2109375,
                                   :y1 917.984375,
                                   :x2 564.7950439453125,
                                   :y2 934.484375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1534,
                                   :x2 0,
                                   :y2 1553.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1550,
                                   :x2 0,
                                   :y2 1569.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1566,
                                   :x2 0,
                                   :y2 1585.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1582,
                                   :x2 0,
                                   :y2 1601.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1598,
                                   :x2 0,
                                   :y2 1617.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1614,
                                   :x2 0,
                                   :y2 1633.5,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 7},
               :content {:text "To overcome this constraint, DV-Ext extends the existing PMC mechanism slightly to make it work only for HPAs targeted by the V-mode memory accesses. DV-Ext adds a \"Virtualization\" (V) bit to each of the current PMC range registers. If the bit is set, the PMC only veriﬁes the V-mode memory accesses according to the range registers."},
               :properties {:color "purple"}}],
 :extra {:page 14}}
