{:highlights [{:id #uuid "651ad4e6-2bdf-4bc0-baa6-f8b1266f0642",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 877.1875,
                                     :x2 697.1988525390625,
                                     :y2 2033.5,
                                     :width 768,
                                     :height 993.8823529411765},
                          :rects ({:x1 397.515625,
                                   :y1 877.1875,
                                   :x2 697.1988525390625,
                                   :y2 889.6875,
                                   :width 768,
                                   :height 993.8823529411765}
                                  {:x1 397.515625,
                                   :y1 890.3046875,
                                   :x2 636.5045166015625,
                                   :y2 902.8046875,
                                   :width 768,
                                   :height 993.8823529411765}
                                  {:x1 0,
                                   :y1 2014,
                                   :x2 0,
                                   :y2 2033.5,
                                   :width 768,
                                   :height 993.8823529411765}),
                          :page 6},
               :content {:text "To ensure memory isolation among the VMM and its guest VMs, CloudVisor maintains a table to track the ownership "},
               :properties {:color "blue"}}
              {:id #uuid "651ad501-20e0-4681-847c-f6a773f1ddac",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 367.5580749511719,
                                     :y2 108.8984375,
                                     :width 768,
                                     :height 993.8823529411765},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 17.5,
                                   :width 768,
                                   :height 993.8823529411765}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 768,
                                   :height 993.8823529411765}
                                  {:x1 155.1507568359375,
                                   :y1 70.15625,
                                   :x2 367.3682556152344,
                                   :y2 82.65625,
                                   :width 768,
                                   :height 993.8823529411765}
                                  {:x1 67.5,
                                   :y1 83.2734375,
                                   :x2 367.5580749511719,
                                   :y2 95.7734375,
                                   :width 768,
                                   :height 993.8823529411765}
                                  {:x1 67.5,
                                   :y1 96.3984375,
                                   :x2 212.0700225830078,
                                   :y2 108.8984375,
                                   :width 768,
                                   :height 993.8823529411765}),
                          :page 7},
               :content {:text " The value of the table is the owner ID of the page. Each VM is assigned with a unique ID when it is booted. The VMM’s ID is ﬁxed to zero. "},
               :properties {:color "blue"}}
              {:id #uuid "651ad87f-0b2b-4df4-95b7-a521af1b25fc",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 334.82135009765625,
                                     :y2 111.2265625,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 49.5,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 193.28860473632812,
                                   :y1 88.2734375,
                                   :x2 334.82135009765625,
                                   :y2 99.2734375,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 61.5234375,
                                   :y1 100.2265625,
                                   :x2 311.3555603027344,
                                   :y2 111.2265625,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 7},
               :content {:text "CloudVisor ensures that a physical memory page can only be assigned to be one owner at a time"},
               :properties {:color "red"}}
              {:id #uuid "65216807-c411-4fbf-bd05-e7bee4db95d9",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 654,
                                     :x2 437.1552734375,
                                     :y2 825.3515625,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 0,
                                   :y1 654,
                                   :x2 0,
                                   :y2 673.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 670,
                                   :x2 0,
                                   :y2 689.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 686,
                                   :x2 0,
                                   :y2 705.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 236.05274963378906,
                                   :y1 763.5625,
                                   :x2 435.64501953125,
                                   :y2 778.5625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 779.0390625,
                                   :x2 436.4169006347656,
                                   :y2 794.0390625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 794.75,
                                   :x2 437.1552734375,
                                   :y2 809.75,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 810.3515625,
                                   :x2 102.65140533447266,
                                   :y2 825.3515625,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 5},
               :content {:text "A cloud tenant may ﬁrst authenticate the cloud platform by using TCG’s attestation protocol with TPM to know if the platform is running a known version of CloudVisor. "},
               :properties {:color "blue"}}
              {:id #uuid "65216e71-4b24-4688-aa2e-681f4b76d257",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 594.25,
                                     :x2 829.4735107421875,
                                     :y2 1745.5,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 750.833740234375,
                                   :y1 594.25,
                                   :x2 828.8544921875,
                                   :y2 609.25,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 609.9609375,
                                   :x2 828.9873046875,
                                   :y2 624.9609375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 625.4375,
                                   :x2 829.4735107421875,
                                   :y2 640.4375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 641.0390625,
                                   :x2 829.3383178710938,
                                   :y2 656.0390625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 656.75,
                                   :x2 829.3177490234375,
                                   :y2 671.75,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 672.34375,
                                   :x2 829.4088134765625,
                                   :y2 687.34375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 687.9453125,
                                   :x2 810.5509643554688,
                                   :y2 702.9453125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1646,
                                   :x2 0,
                                   :y2 1665.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1662,
                                   :x2 0,
                                   :y2 1681.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1678,
                                   :x2 0,
                                   :y2 1697.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1694,
                                   :x2 0,
                                   :y2 1713.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1710,
                                   :x2 0,
                                   :y2 1729.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1726,
                                   :x2 0,
                                   :y2 1745.5,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 5},
               :content {:text "he latter mode is used by guest VMs, where privileged instructions that access critical hardware resources (e.g., I/O resources) will cause a control transition from guest mode to host mode (a VM exit, step 1). The VMM will handle the event (e.g., by emulating the violating instruction) and then use VM entry to transfer the control back to guest mode (step 2), where the guest VM resumes its execution"},
               :properties {:color "yellow"}}
              {:id #uuid "652170fc-2908-4a7c-a303-06a9203c99fd",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 478,
                                     :x2 436.81243896484375,
                                     :y2 675.8828125,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 0,
                                   :y1 478,
                                   :x2 0,
                                   :y2 497.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 494,
                                   :x2 0,
                                   :y2 513.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 510,
                                   :x2 0,
                                   :y2 529.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 526,
                                   :x2 0,
                                   :y2 545.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 279.69525146484375,
                                   :y1 598.5,
                                   :x2 436.5283508300781,
                                   :y2 613.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 614.09375,
                                   :x2 436.73712158203125,
                                   :y2 629.09375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 629.8125,
                                   :x2 436.550537109375,
                                   :y2 644.8125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 645.40625,
                                   :x2 436.81243896484375,
                                   :y2 660.40625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 660.8828125,
                                   :x2 238.1493682861328,
                                   :y2 675.8828125,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 7},
               :content {:text "When a guest VM boots up, CloudVisor also unmaps the VM’s memory in the IOMMU table used by DMA-capable devices. When the guest VM shuts down, the pages are returned to the VMM and CloudVisor remaps the pages in the IOMMU table. "},
               :properties {:color "yellow"}}
              {:id #uuid "65217199-f8de-4d20-9a60-4ab081661a53",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 719.1328125,
                                     :x2 829.4854736328125,
                                     :y2 1809.5,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 472.5625,
                                   :y1 719.1328125,
                                   :x2 828.856689453125,
                                   :y2 734.1328125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 734.734375,
                                   :x2 829.4854736328125,
                                   :y2 749.734375,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 750.328125,
                                   :x2 828.8697509765625,
                                   :y2 765.328125,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 472.5625,
                                   :y1 765.921875,
                                   :x2 796.1015625,
                                   :y2 780.921875,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1758,
                                   :x2 0,
                                   :y2 1777.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1774,
                                   :x2 0,
                                   :y2 1793.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 1790,
                                   :x2 0,
                                   :y2 1809.5,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 5},
               :content {:text "For each virtual CPU of a guest VM, an in-memory VM control structures (VMCS in Intel’s terminology) is maintained by the VMM. The VMCS saves the states for the VMM and the guest VM, as well as controls which guest events should cause VM exit."},
               :properties {:color "purple"}}
              {:id #uuid "6521753d-0dc0-4194-9c87-1c910a8677fb",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 94,
                                     :x2 437.0506286621094,
                                     :y2 223.359375,
                                     :width 913,
                                     :height 1181.5294117647059},
                          :rects ({:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 113.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 306.0382995605469,
                                   :y1 177.2890625,
                                   :x2 436.1973876953125,
                                   :y2 192.2890625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 192.765625,
                                   :x2 437.0506286621094,
                                   :y2 207.765625,
                                   :width 913,
                                   :height 1181.5294117647059}
                                  {:x1 80.25,
                                   :y1 208.359375,
                                   :x2 320.75982666015625,
                                   :y2 223.359375,
                                   :width 913,
                                   :height 1181.5294117647059}),
                          :page 8},
               :content {:text "After the data exchange, the corresponding record will be removed from the list to prevent the VMM from revisiting the memory pages."},
               :properties {:color "red"}}],
 :extra {:page 9}}
