{:highlights [{:id #uuid "6510ef93-4a82-44e4-a2c8-407a75622a29",
               :page 17,
               :position {:bounding {:x1 0,
                                     :y1 76.5,
                                     :x2 603.9019165039062,
                                     :y2 342.765625,
                                     :width 699.9999999999999,
                                     :height 524.9999999999999},
                          :rects ({:x1 0,
                                   :y1 76.5,
                                   :x2 0,
                                   :y2 99.5,
                                   :width 699.9999999999999,
                                   :height 524.9999999999999}
                                  {:x1 64.1171875,
                                   :y1 297.953125,
                                   :x2 603.9019165039062,
                                   :y2 319.453125,
                                   :width 699.9999999999999,
                                   :height 524.9999999999999}
                                  {:x1 63.203125,
                                   :y1 321.265625,
                                   :x2 116.85498809814453,
                                   :y2 342.765625,
                                   :width 699.9999999999999,
                                   :height 524.9999999999999}),
                          :page 17},
               :content {:text "Laplace Smoothing: add a virtual count of 1 to each attribute value."},
               :properties {:color "blue"}}
              {:id #uuid "6510fc4c-2ee5-40ec-bb64-9adad09ec7d1",
               :page 17,
               :position {:bounding {:x1 227.5,
                                     :y1 434.484375,
                                     :x2 621.41064453125,
                                     :y2 451.984375,
                                     :width 699.9999999999999,
                                     :height 524.9999999999999},
                          :rects ({:x1 227.5,
                                   :y1 434.484375,
                                   :x2 621.41064453125,
                                   :y2 451.984375,
                                   :width 699.9999999999999,
                                   :height 524.9999999999999}),
                          :page 17},
               :content {:text "Vocabulary (the number of different values of attribute x)."},
               :properties {:color "red"}}],
 :extra {:page 17}}
