{:highlights [{:id #uuid "65153b00-e54b-495b-9577-b77d66cc3a6d",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 403.1864318847656,
                                     :y2 566.9296875,
                                     :width 838.9999999999999,
                                     :height 1085.7647058823527},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 193.5,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 223.49649047851562,
                                   :y1 485.8515625,
                                   :x2 403.1864318847656,
                                   :y2 501.3515625,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 73.9921875,
                                   :y1 502.2421875,
                                   :x2 403.1754455566406,
                                   :y2 517.7421875,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 73.9921875,
                                   :y1 518.640625,
                                   :x2 403.17333984375,
                                   :y2 534.140625,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 73.9921875,
                                   :y1 535.03125,
                                   :x2 403.18011474609375,
                                   :y2 550.53125,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}
                                  {:x1 73.6640625,
                                   :y1 551.4296875,
                                   :x2 341.5,
                                   :y2 566.9296875,
                                   :width 838.9999999999999,
                                   :height 1085.7647058823527}),
                          :page 2},
               :content {:text " the hypervisor retains control of resource management and observes associated guest actions including nested page table faults and CPU scheduling, and thus confidential VMs remain vulnerable to an ever-changing variety of hypervisor-level side channel attacks. "},
               :properties {:color "red"}}],
 :extra {:page 3}}
